[submodule "tracking_ros/Cutie"]
	path = tracking_ros/Cutie
	url = https://github.com/hkchengrex/Cutie.git
[submodule "tracking_ros/VLPart"]
	path = tracking_ros/VLPart
	url = https://github.com/facebookresearch/VLPart.git
[submodule "tracking_ros/MaskDINO"]
	path = tracking_ros/MaskDINO
	url = https://github.com/IDEA-Research/MaskDINO.git
