setuptools>=65.0.0
numpy>=1.24.1
matplotlib==3.8.2
gdown
gitpython
hickle
tensorboard
gradio
opencv-python
pyyaml
av
openmim
tqdm
psutil
torch
torchvision
transformers
addict
yapf
timm
supervision
pycocotools
segment-anything
segment-anything-hq
git+https://github.com/ChaoningZhang/MobileSAM.git
git+https://github.com/cheind/py-thin-plate-spline
git+https://github.com/facebookresearch/segment-anything.git
git+https://github.com/hkchengrex/Cutie.git
git+https://github.com/hkchengrex/Grounded-Segment-Anything.git#egg=groundingdino&subdirectory=GroundingDINO
git+https://github.com/hkchengrex/Tracking-Anything-with-DEVA.git
