gdown
gitpython
hickle
tensorboard
numpy
gradio
opencv-python
matplotlib
pyyaml
av
openmim
tqdm
psutil
torch
torchvision
transformers
addict
yapf
timm
supervision
pycocotools
segment-anything
segment-anything-hq
git+https://github.com/cheind/py-thin-plate-spline
git+https://github.com/facebookresearch/segment-anything.git
