torch==2.3.1
torchvision==0.18.1
setuptools==69.5.1
numpy>=1.24.0,<2.0.0
matplotlib>=3.6.0
tqdm>=4.62.3
networkx>=3.1
requests>=2.27.0
filelock>=3.6.0
jinja2>=3.0
urllib3>=1.26.0
rich<=13.5.2
scikit-image>=0.19.0
scikit-learn>=0.24.0
packaging>=21
rsa<4.8,>=3.1.2
transformers==4.38.2
gdown
gitpython
hickle
tensorboard
gradio
opencv-python
pyyaml
av
openmim
psutil
addict
yapf
timm
supervision
pycocotools
mss
dataclasses
imagesize
ftfy
regex
lvis
nltk
shapely
submitit
ultralytics
segment-anything
segment-anything-hq
mmcv-full
h5py
einops
icecream
wandb
diffdist
seaborn
fairscale
--find-links https://download.openmmlab.com/mmcv/dist/cu121/torch2.3/index.html
mmcv==2.1.0
git+https://github.com/open-mmlab/mmdetection.git
git+https://github.com/ChaoningZhang/MobileSAM.git
git+https://github.com/cheind/py-thin-plate-spline
git+https://github.com/hkchengrex/Cutie.git
git+https://github.com/IDEA-Research/GroundingDINO.git
git+https://github.com/hkchengrex/Tracking-Anything-with-DEVA.git
git+https://github.com/openai/CLIP.git
git+https://github.com/facebookresearch/detectron2.git
git+https://github.com/cocodataset/panopticapi.git
git+https://github.com/mcordts/cityscapesScripts.git
git+https://github.com/siyuanliii/TrackEval.git
git+https://github.com/SysCV/tet.git#subdirectory=teta
git+https://github.com/scalabel/scalabel.git@scalabel-evalAPI
git+https://github.com/TAO-Dataset/tao
git+https://github.com/lvis-dataset/lvis-api.git
git+https://github.com/IDEA-Research/MaskDINO.git#egg=MultiScaleDeformableAttention&subdirectory=maskdino/modeling/pixel_decoder/ops
